USE [TRIGGER_DATA]
GO
/****** Object:  Trigger [dbo].[TR_STUDENT_FOR_INSERT]    Script Date: 26-11-2022 21:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TR_STUDENT_FOR_INSERT]
ON
[dbo].[TBL_STUDENT]
AFTER INSERT 
AS
BEGIN
SELECT * FROM INSERTED
END

SP_HELPTEXT 